@{
    ViewData["Title"] = "Test";
}

<h2>Demo Page</h2>


<div class="row">
    <div class="col-lg-6">
        <div class="ibox">
            <div class="ibox-title">Order Service Versions</div>
            <div class="ibox-content">
                
            </div>
        </div>
    </div>
</div>

@section scripts {
    <environment names="Development,Staging,Production">
        <script src="~/lib/dataTables/datatables.min.js"></script>
        <script src="~/lib/dataTables/dataTables.bootstrap4.min.js"></script>
    </environment>

    <script type="text/javascript">
        var count = 0;
        var v1 = ''
        var v2 = ''
        v2Count = 0;

        function GetVersion() {
            $.ajax({
                'url': "@Url.Action("Version")",
                'method': "GET",
                'contentType': 'application/json'
            }).done(function (ajaxData) {
                var cssClass = "alert-success";
                //$('#responeList').prepend("<li>" + ajaxData + "</li>").focus();
                if (v1 == '') {
                    v1 = ajaxData;
                }

                if (v1 != ajaxData) {
                    if (v2 == '') {
                        v2 == ajaxData;
                        v2Count++;
                        cssClass = "alert-info";
                    }
                }

                if (v2Count == 15) {
                    v1 = v2;
                    v2 = '';
                    v2Count = 0;
                }
                var dt = new Date();
                var currentTime = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();

                $('.ibox-content').prepend("<div class='alert " + cssClass + "'>" + currentTime + ": " + ajaxData + "<div>");

            }).fail(function () {
                $('.ibox-content').prepend("<div class='alert alert-danger'>ERROR<div>");
            }).always(function () {
                count++;
                if (count > 15) {
                    $('.alert').last().remove();
                }
                //if ($('ul#responeList li').length > 50) {
                //    $('#responeList li:last-child').remove();
                //}
            });


        }

        $(document).ready(function () {
            setInterval(GetVersion, 1000);
        });



    </script>

}